version: 3.9.3.{build}
skip_tags: true
max_jobs: 1
image: Visual Studio 2017
configuration: Release
platform: Any CPU
force_https_clone: true
nuget:
  account_feed: false
  project_feed: false
environment:
  NUGET_HOST: https://www.nuget.org
  NUGET_APIKEY: 
    secure: oeSwT33L7QcWnDXH3H/pWIUJDdM+el24LvqEQ6HqzpR0Ok/7Z3VZj51u14veU1Ho
build: off
build_script:
- ps: >-
    dotnet build .\GoogleApi.sln;
test: off
test_script:
- ps: >-
    dotnet test .\.tests\GoogleApi.UnitTests\GoogleApi.UnitTests.csproj
artifacts:
- path: '**\*.nupkg'
  name: NuGet Package
deploy:
- provider: NuGet
  server: $(NUGET_HOST)
  api_key: $(NUGET_APIKEY)
  on:
    branch: master